.container{
    text-align: center;
}

.board{
    display: inline-flex;
    flex-wrap: wrap;
    width: 320px;

}

.square{
    width: 80px;
    height: 80px;
    border: 1px solid black;
    display: inline-block;
    line-height: 80px;
}